= render "users/registrations/header"

.session
  %main
    %section
      .sessionContent
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .formGroup
            - if flash[:alert]
              .errMessage.errHeight= flash[:alert]
              = f.email_field :email,placeholder:"メールアドレス",autocomplete: "email",class:"inputDefault errBorder"
            - else
              = f.email_field :email,placeholder:"メールアドレス",autocomplete: "email",class:"inputDefault"
          .formGroup
            - if flash[:alert]
              = f.password_field :password,placeholder:"パスワード",autocomplete: "current-password",class:"inputDefault errBorder"
            - else
              = f.password_field :password,placeholder:"パスワード",autocomplete: "current-password",class:"inputDefault"
          - if devise_mapping.rememberable?
            .formGroup
              = f.check_box :remember_me
              = f.label :remember_me
          = flash[:recaptcha_error]
          = recaptcha_tags
          .submit
            = f.submit "ログイン"
      .toRegistration
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録",new_user_registration_path

= render "users/registrations/footer"