.box  
  %header.header__all
    .header__all__main
      .mainHeader
        %h1.icon
          =link_to "/" do
            = image_tag "FURIMA_logo.svg"
        .searchmain
          %form{"accept-charset": "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}
            %input#searchInput.searchmain--input{name: "key", placeholder: "キーワードから探す"}
            %button{type: "submit"}
              .searchmain__icon
                = image_tag "icon_search.png"
            %input{name: "authenticity_token", type: "hidden", value: "rGvQaEoXiWof9CviOMrABrWg8GvnR7RZ5CihIgqhun1x4Av6XJI7jRd8fffRfP5WFLbFT4wp6lPDQB+RLe9aTA=="}
        %ul.result-Lists
      .nav
        %ul.listsLeft
          %li.listsLeft__item.listsLeft__item--first
            .category
              = link_to "#" do
                カテゴリー
              .tree.display-None
                .categoryTree
                  .categoryTree--item
                    = link_to "#", id: "#1" do
                      レディース
                    .subcatTree
                      .subcatTree--item
                        = link_to "#", id: "#1" do
                          トップス
                        .itemTree
                          .itemTree--item
                            = link_to "#", id: "#1" do
                              Tシャツ
                          .itemTree--item
                            = link_to "#", id: "#2" do
                              シャツ
                      .subcatTree--item
                        = link_to "#", id: "#2" do
                          シャケット
          %li.listsLeft__item.listsLeft__item__second
            = link_to "#", id: "#brandBtn" do
              ブランド
            %ul.brandsPulldown.display-None
        %ul.lists-Right
          - if user_signed_in?
            %li.lists-Right__item
              = link_to "サインアウト(仮置)",destroy_user_session_path,method: :delete
            %li.lists-Right__item
              = link_to "マイページ", user_path(current_user.id)
          - else
            %li.lists-Right__item
              = link_to "新規会員登録",new_user_registration_path
            %li.lists-Right__item
              = link_to "ログイン",new_user_session_path
  .contents
    .contents__left
      .contents__left__one
        %ul
          %li マイページ
          %li お知らせ
          %li やることリスト
          %li いいね！一覧
          %li 出品する
          %li 下書き一覧
          %li 出品した商品ー出品中
          %li 出品した商品ー取引中
          %li 出品した商品ー売却済み
          %li 購入した商品ー取引中
          %li ニュース一覧
          %li ガイド
          %li お問い合わせ
      .contents__left__two
        %h3 メルペイ
        %ul 
          %li 売り上げ・振り込み申請
          %li ポイント
      .contents__left__three
        %h3 設定
        %ul
          %li プロフィール
          %li 発送元・お届け先住所変更
          %li 
            = link_to "クレジットカード登録", credits_path
          %li メール/パスワード
          %li 本人情報
          %li 電話番号の確認
          %li 
            = link_to "ログアウト", destroy_user_session_path,method: :delete
    .contents__rightt
      .contents__rightt__head
        %h3 クレジットカード情報入力
      .contents__rightt__body
        %div
          %label カード番号
          %span.contents__rightt__body-require 必須
          %input.contents__rightt__body-inputDefault{:placeholder => "半角数字のみ", :type => "text"}
          %figure.contents__rightt__body-img
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/visa-91c71914c6ae23d33f896e60bb1e3859.svg", style: "height:30px; width: 30px;"
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mastercard-8b5b68c12b7a2fc8619c71f49ef9209b.svg", style: "height:30px; width: 30px;"
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/saison-550107415f39b81fa19e87c96486ba20.svg", style: "height:30px; width: 30px;"
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/jcb-9ea981d20008c6545aa3afd1b3da9804.svg", style: "height:30px; width: 30px;"
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/american_express-4df44c450653b0209850070ea5cf1264.svg", style: "height:30px; width: 30px;"
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/dinersclub-3d52fbb4b39dc998f039571f3314bfc7.svg", style: "height:30px; width: 30px;"
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/discover-879b0b1c9f9a30159f09e9ef492ad349.svg", style: "height:30px; width: 30px;"
          %label 有効期限
          %span.contents__rightt__body-require 必須  
          .contents__rightt__body-ym
            %span.contents__rightt__body-span
              %select.contents__rightt__body-month{name:"card_month"}
                %option{"aria-selected" => "true", :label => "01", :value => "01"} 02
                %option{"aria-selected" => "true", :label => "02", :value => "02"} 02
                %option{"aria-selected" => "true", :label => "03", :value => "03"} 03
                %option{"aria-selected" => "true", :label => "04", :value => "04"} 04
                %option{"aria-selected" => "true", :label => "05", :value => "05"} 05
                %option{"aria-selected" => "true", :label => "06", :value => "06"} 06
                %option{"aria-selected" => "true", :label => "07", :value => "07"} 07
                %option{"aria-selected" => "true", :label => "08", :value => "08"} 08
                %option{"aria-selected" => "true", :label => "09", :value => "09"} 09
                %option{"aria-selected" => "true", :label => "10", :value => "10"} 10
                %option{"aria-selected" => "true", :label => "11", :value => "11"} 11
                %option{"aria-selected" => "true", :label => "12", :value => "12"} 12
              .month
                月
            %span.contents__rightt__body-span
              %select.contents__rightt__body-year{name:"card_year"}
                %option{"aria-selected" => "true", :label => "20", :value => "20"} 20
                %option{"aria-selected" => "true", :label => "21", :value => "21"} 21
                %option{"aria-selected" => "true", :label => "22", :value => "22"} 22
                %option{"aria-selected" => "true", :label => "23", :value => "23"} 23
                %option{"aria-selected" => "true", :label => "24", :value => "24"} 24
                %option{"aria-selected" => "true", :label => "25", :value => "25"} 25
                %option{"aria-selected" => "true", :label => "26", :value => "26"} 26
                %option{"aria-selected" => "true", :label => "27", :value => "27"} 27
                %option{"aria-selected" => "true", :label => "28", :value => "28"} 28
                %option{"aria-selected" => "true", :label => "29", :value => "29"} 29
                %option{"aria-selected" => "true", :label => "30", :value => "30"} 30
              .year
                年
          %label セキリュティーコード
          %span.contents__rightt__body-require 必須  
          %input.contents__rightt__body-inputcard{:placeholder => "カード背面４桁もしくは3桁の番号", :type => "text"}
          %h5.contents__rightt__body-btn 追加する
          %h6.contents__rightt__body-back もどる