.bodyNew
  .containerNew
    .headerNew
      = link_to root_path do
        = image_tag "logo.png", class: "headerNew__logo"
    .formNew
      %section.formNew__block
      = form_with model:@item, local:true do |f|
        - if @item.errors.any?
          .formNew__alert
            %h2= "#{@item.errors.full_messages.count}件のエラーが発生しました。"
            %ul
              - @item.errors.full_messages.each do |message|
                %li= message
        .formNew__image
          .formNew__image--content
            .content
              .content__image
                %h3.content__image__title
                  出品画像
                  %span.require 必須
                %p.image_title 最大5枚までアップロードできます
                .content__image__select
                  .post__drop__box__container
                    .prev-content
                    .label-content
                      %label.image__select
                      %label{for: "item_images_attributes_0_src", class: "label-box", id: "label-box--0", style: "background-color: #eeeeee; width: 100%; height: 150px; margin: 0 auto; padding: 45px 0px; border: dotted 1px;"}
                        %pre.label-box__select__text{style: "text-align: center; font-size: 3px;"} クリックしてファイルをアップロード
                    .hidden-content
                      = f.fields_for  :images, {class: "image__select__input", type: "file"} do |i|
                        = i.file_field :src, class: "hidden-field"
                        %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][src]", id: "item_images_attributes_1_src"}
                        %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][src]", id: "item_images_attributes_2_src"}
                        %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][src]", id: "item_images_attributes_3_src"}
                        %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][src]", id: "item_images_attributes_4_src"}
                %p.image_note
        .formNew__description
          .formNew__description--content
            .content
              .content__description_name
                .content__description_name--title
                  %label 商品名
                  %span 必須
                = f.text_field :name, {class: "content__description_name--input", placeholder: "40字まで", type: "text"}
                %p.description_name_note
              .content__description_text
                .content__description_text--title
                  %label 商品の説明
                  %span 必須
                = f.text_area :description, {class: "content__description_text--textarea", placeholder: "商品の説明", rows: 1000}
                %p.character_count 0/1000
                %p.description_text_note
        .formNew__detail
          .formNew__detail--content
            .content
              .content__detail_category
                %p.detail_category 商品の詳細
                .content__detail_category--title
                  %label カテゴリー
                  %span 必須
                .content__detail_category--form
                  = f.collection_select :category_id, @parent_category,:id,:name,{prompt:"選択してください"}, {id:"item_category",class:"content__detail_category--select"}
                  %p.detail_category_note
              .content__detail_brand
                .content__detail_brand--title
                  %label ブランド
                  %span 任意
                = f.text_field :brand, {class: "content__detail_brand--input", placeholder: "例）ユニクロ", type: "text"}
              .content__detail_condition
                .content__detail_condition--title
                  %label 商品の状態
                  %span 必須
                -# = f.select :condition, [["選択してください", 0],["新品", 1],["未使用に近い", 2],["目立った傷や汚れなし", 3],["やや傷や汚れあり", 4]], {},class: "content__detail_condition--select"
                = f.collection_select :condition_id, Condition.all, :id, :name, {}, class: "content__detail_condition--select"
                %p.detail_condition_note
        .formNew__shipment
          .formNew__shipment--content
            .content
              .content__shipment_fee
                %p.shipment_fee 配送について
                .content__shipment_fee--title
                  %label 配送料の負担
                  %span 必須
                = f.collection_select :shipment_fee_id, ShipmentFee.all, :id, :name, {},class: "content__shipment_fee--select"
                %p.shipment_fee_note
              .content__shipment_region
                .content__shipment_region--title
                  %label 発送元の地域
                  %span 必須
                = f.collection_select :shipment_region_id, ShipmentRegion.all, :id, :name, {},class: "content__shipment_region--select"
                %p.shipment_region_note
              .content__shipment_schedule
                .content__shipment_schedule--title
                  %label 発送までの日数
                  %span 必須
                = f.collection_select :shipment_schedule_id, ShipmentSchedule.all, :id, :name, {},class: "content__shipment_schedule--select"
                %p.shipment_shedule_note
        .formNew__price
          .formNew__price--content
            .content
              .content__price
                %p.content__price--range 価格（¥300〜9,999,999）
                .content__price--title
                  %label 販売価格
                  %span.must 必須
                  %span.enn ￥
                  = f.number_field :price, {class: "price", placeholder: 0}
                %p.content__price--note
                .content__price--tax
                  %p 販売手数料（10%）
                  %span#tax ---
                .content__price--profit
                  %p 販売利益
                  %span#profit ---
        .formNew__send
          .formNew__send--content
            .content
              .content__send
                -if controller.action_name == "new"
                  = f.submit "出品する", {class: "content__send--button"}
                  = link_to "戻る", "#", class: "content__send--back"
                - else controller.action_name == "edit"
                  = f.submit "変更する", {class: "content__send--button"}
                  = link_to "戻る", "#", class: "content__send--back"

          .formNew__send--note
            %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
      .footerNew
        = link_to root_path do
          = image_tag "logo.png", class: "footerNew__logo"
          %p © FURIMA, Inc
