= render "common/main_header"

%nav.breadcrumbs
  %ul{style: "padding: 17px 0 16px; width: 100%; max-width: 1040px; font-size: 14px; margin: 0 auto; list-style: none;"}
    %li{style: "padding: 0 10px 0 0; float: left;"}
      = link_to href: "/", style:"text-decoration: none; color: #333;" do
        FURIMA
    %li{style: "padding: 0 10px 0 0; float: left;"}
      %i.fa.fa-angle-right{style: "display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
    %li{style: "padding: 0 10px 0 0; float: left;"}
      = link_to href: "#", style:"text-decoration: none; color: #333;" do
        ベビー・キッズ
    %li{style: "padding: 0 10px 0 0; float: left;"}
      %i.fa.fa-angle-right{style: "display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
    %li{style: "padding: 0 10px 0 0; float: left;"}
      = link_to href: "#", style:"text-decoration: none; color: #333;" do
        ベビー服(男女兼用)  ~95cm
    %li{style: "padding: 0 10px 0 0; float: left;"}
      %i.fa.fa-angle-right{style: "display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
    %li{style: "padding: 0 10px 0 0; float: left;"}
      = link_to href: "#", style: "text-decoration: none; color: #333;" do
        アウター
    %li{style: "padding: 0 10px 0 0; float: left;"}
      %i.fa.fa-angle-right{style: "display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
    %li{style: "font-weight: bold; padding: 0 10px 0 0; float: left;"}
      %div product3
.main
  .showmain
    .contentleftqq
    .contentright
      .topcontent
        .itembox
          %div.itembox__name
            = @item.name
          .itembox__body
            %div
              %div
                %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png",style: "height: 346px; width: 100%; object-fit: cover;"}/
                %div{style: "display: flex; justify-content: center; margin-top: 10px;"}
                  %div
                    %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png",style: "height: 87px; width: 140px; object-fit: cover; margin-right: 5px;"}/
                  %div
                    %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png",style: "height: 87px; width: 140px; object-fit: cover; margin-right: 5px; margin-left: 5px;"}/
                  %div
                    %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png",style: "height: 87px; width: 140px; object-fit: cover; margin-left: 5px;"}/
          .itembox__price
            .itembox__price-price
              = @item.price
              %span 円
            .itembox__price-detail
              %span
                (税込)
              %span
                送料込み
          .itemdetail
            = @item.description
          .table
            %table{border: "1"}
              %tbody
                %tr
                  %th{style:"width: 152px; background-color: #eee; font-weight: 400; padding: 8px; border: 1px solid #dedede; font-size: 14px; text-align: center;"} 出品者
                  %td{style:"width: 467px; padding: 15px 15px; border: 1px solid #dedede; font-size: 14px;"} hoge
                %tr
                  %th{style:"width: 152px; background-color: #eee; font-weight: 400; padding: 8px; border: 1px solid #dedede; font-size: 14px; text-align: center;"} カテゴリー
                  %td{style:"width: 467px; padding: 15px 15px; border: 1px solid #dedede; font-size: 14px;"}
                    %link_to{href: "#",style:"color: #3ccace;"} ベビー・キッズ
                    %br/
                    %link_to{href: "#",style:"color: #3ccace;"} ベビー服(男女兼用)  ~95cm
                    %br/
                    %link_to{href: "#",style:"color: #3ccace;"} アウター
                %tr
                  %th{style:"width: 152px; background-color: #eee; font-weight: 400; padding: 8px; border: 1px solid #dedede; font-size: 14px; text-align: center;"} ブランド
                  %td{style:"width: 467px; padding: 15px 15px; border: 1px solid #dedede; font-size: 14px;"}
                    = @item.user.nickname
                %tr
                  %th{style:"width: 152px; background-color: #eee; font-weight: 400; padding: 8px; border: 1px solid #dedede; font-size: 14px; text-align: center;"}  商品のサイズ
                  %td{style:"width: 467px; padding: 15px 15px; border: 1px solid #dedede; font-size: 14px;"}
                    = @item.brand
                %tr
                  %th{style:"width: 152px; background-color: #eee; font-weight: 400; padding: 8px; border: 1px solid #dedede; font-size: 14px; text-align: center;"}  商品の状態
                  %td{style:"width: 467px; padding: 15px 15px; border: 1px solid #dedede; font-size: 14px;"}
                    = @item.condition.name
                %tr
                  %th{style:"width: 152px; background-color: #eee; font-weight: 400; padding: 8px; border: 1px solid #dedede; font-size: 14px; text-align: center;"} 配送料の負担
                  %td{style:"width: 467px; padding: 15px 15px; border: 1px solid #dedede; font-size: 14px;"}
                    = @item.shipment_fee.name
                %tr
                  %th{style:"width: 152px; background-color: #eee; font-weight: 400; padding: 8px; border: 1px solid #dedede; font-size: 14px; text-align: center;"} 発送元の地域
                  %td{style:"width: 467px; padding: 15px 15px; border: 1px solid #dedede; font-size: 14px;"}
                    %link_to{href: "#",style:"color: #3ccace;"}
                      = @item.shipment_region.name
                %tr
                  %th{style:"width: 152px; background-color: #eee; font-weight: 400; padding: 8px; border: 1px solid #dedede; font-size: 14px; text-align: center;"} 発送日の目安
                  %td{style:"width: 467px; padding: 15px 15px; border: 1px solid #dedede; font-size: 14px;"}
                    = @item.shipment_schedule.name
          .optionalarea
            %div{style: "margin: 10px 0 0;display: flex;"}
              %div#likeBtn.optionalbtn.likebtn{style: "margin-right: auto;padding: 6px 10px;border-radius: 40px;color: #3ccace;border: 1px solid #ffb340;"}
                %i.fa.fa-star{style: "display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;color: #3ccace;"}
                お気に入り 0
            %div.optional
            %li.optionalbtn{style: "margin-top: 5px;"}
              = link_to href: "#",style: "padding: 6px 10px; margin-top: 10px; display: inline-block; border-radius: 4px; color: #333; border: 1px solid #333; text-decoration: none; font-size: normal;" do
                %i.fa.fa-flag{style: "display: inline-block;font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
                  不適切な商品の通報
        - if user_signed_in? && current_user.id == @item.user_id
          .edit_deletebox{style: "background-color: #fff; margin: 24px 0px; padding: 20px 10px; height: 160px;"}
            %p.editbox
              = link_to '編集の編集', "#", method: :get, class: "editbox__link", style: "display: inline-block; color: #ffffff; font-size: 14px; height: 50px; width: 100%; line-height: 50px; text-align: center; background-color: #ea352d; border-radius: 10px;"
            .deletebox
              = link_to 'この商品を削除する', item_path(@item.id), method: :delete, class: "deletebox__link", style: "display: inline-block; color: #ffffff; font-size: 14px; margin-top:20px; height: 50px; width: 100%; line-height: 50px; text-align: center; background-color: #aaaaaa; border-radius: 10px;"
        .commentbox
          %div.commentcontents
          %form#new_comment.new_comment{"accept-charset" => "UTF-8", action: "#", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "/bKlXFzmZnYWuZdstnJ62bomGGRwX6OVc98x97W8mM3TK823CvzZol/dkwQe+jBZzFT0yaldaDumUkevxjczrg=="}/
            %textarea#comment_body{name: "comment[body]", required: "required",style: "width: 95%; min-height: 100px; padding: 10px;"}
              :preserve
            %p.noticemsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.commentbtn{name: "button", type: "submit"}
              %i.fa-comment
              コメントする
      %div.links
        %div.links__a
          = link_to href: "#",style: "text-decoration: none;" do
            %i.fa.fa-angle-left
            %span{style:"color: #3CCACE;"} 前の商品
        %div.links__b
          = link_to href: "#",style: "text-decoration: none;" do
            %span{style:"color: #3CCACE;"} 後ろの商品
            %i.fa.fa-angle-right
      .relateditems
        %a{href: "#",style: "display: block; margin: 70px 0 40px; color: #3CCACE; text-decoration: none; font-weight: bold; font-size: 22px; position: relative;"} ベビー・キッズをもっと見る
        .productlists
          .productlist
            = link_to href: "/products/8",style: "text-decoration: none;" do
              %figure.productlist--img{style: "width: 220px; height: 150px; position: relative; overflow: hidden; margin: 0; z-index: auto;"}
                %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG",style: "width: 220px; height: 150px; object-fit: cover;"}/
              .productlist--body
                %div.name ee
                .details
                  %div{style: "display: flex; align-items: center; justify-content: space-between; list-style: none;font-size: 14px;"}
                    %li{style: "font-size: 15px;"}1000円
                    %li{style: "font-size: 15px;"}
                      %i.fa.fa-star.likeIcon
                      0
                  %div{style: "font-size: 10px;"} (税込)
  %aside.Banner
    .inner
      %h2.inner__title{style: "color: #fff;"}
        だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text{style: "color: #fff;"} 今すぐ無料ダウンロード！
      .inner__icon
        = link_to "#",class: 'apple-Btn',style: "margin-right: 5px;" do
          = image_tag "app-store-icon.svg"
        = link_to "#",class: 'google-Btn',style: "margin-left: 5px;" do
          = image_tag "google-play-icon.svg"
.footer
  %ul.contents
    %li.content
      %h2.content__head{style: "color: #fff;"} FURIMAについて
      %ul{style: "list-style: none;"}
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            会社概要（運営会社）
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            プライバシーポリシー
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            FURIMA利用規約
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            ポイントに関する特約
    %li.content
      %h2.content__head{style: "color: #fff;"} FURIMAを見る
      %ul{style: "list-style: none;"}
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            カテゴリー一覧
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            ブランド一覧
    %li.content
      %h2.content__head{style: "color: #fff;"} ヘルプ＆ガイド
      %ul{style: "list-style: none;"}
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          %a{href: "#"} FURIMAガイド
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            お知らせ
  .footer__logo
    =link_to "/" do
      = image_tag "FURIMA-logo-white.svg", style: "width: 100%; vertical-align: bottom;"
  %p{style: "font-size: 14px;margin: 0;padding: 0;color: #fff;"} © FURIMA
=link_to "#" do
  .purchase-Btn
    %span.purchase-Btn__text 出品する
    .purchase-Btn__icon
    = image_tag "camera.svg"