!!!
%header.header__all
  .header__all__main
    .mainHeader
      %h1.icon
        =link_to "/" do
          = image_tag "FURIMA_logo.svg"
      .searchmain
        %form{"accept-charset": "UTF-8", action: "#", method: "get"}
          %input{name: "utf8", type: "hidden", value: "✓"}
          %input#searchInput.searchmain--input{name: "key", placeholder: "キーワードから探す"}
          %button{type: "submit"}
            .searchmain__icon
              = image_tag "icon_search.png"
          %input{name: "authenticity_token", type: "hidden", value: "rGvQaEoXiWof9CviOMrABrWg8GvnR7RZ5CihIgqhun1x4Av6XJI7jRd8fffRfP5WFLbFT4wp6lPDQB+RLe9aTA=="}
      %ul.result-Lists
    .nav
      %ul.listsLeft
        %li.listsLeft__item.listsLeft__item--first
          .category
            = link_to "#" do
              カテゴリー
            .tree.display-None
              .categoryTree
                .categoryTree--item
                  = link_to "#", id: "#1" do
                    レディース
                  .subcatTree
                    .subcatTree--item
                      = link_to "#", id: "#1" do
                        トップス
                      .itemTree
                        .itemTree--item
                          = link_to "#", id: "#1" do
                            Tシャツ
                        .itemTree--item
                          = link_to "#", id: "#2" do
                            シャツ
                    .subcatTree--item
                      = link_to "#", id: "#2" do
                        シャケット
        %li.listsLeft__item.listsLeft__item__second
          = link_to "#", id: "#brandBtn" do
            ブランド
          %ul.brandsPulldown.display-None
      %ul.lists-Right
        - if user_signed_in?
          %li.lists-Right__item
            = link_to "サインアウト(仮置)",destroy_user_session_path,method: :delete
          %li.lists-Right__item
            = link_to "マイページ", root_path
        - else
          %li.lists-Right__item
            = link_to "新規会員登録",new_user_registration_path
          %li.lists-Right__item
            = link_to "ログイン",new_user_session_path
%nav.breadcrumbs
  %ul{:style => "padding: 17px 0 16px; width: 100%; max-width: 1040px; font-size: 14px; margin: 0 auto; list-style: none;"}
    %li{:style => "padding: 0 10px 0 0; float: left;"}
      %a{:href => "/", :style =>"text-decoration: none; color: #333;"} FURIMA
    %li{:style => "padding: 0 10px 0 0; float: left;"}
      %i.fa.fa-angle-right{:style => "display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
    %li{:style => "padding: 0 10px 0 0; float: left;"}
      %a{:href => "#", :style =>"text-decoration: none; color: #333;"} ベビー・キッズ
    %li{:style => "padding: 0 10px 0 0; float: left;"}
      %i.fa.fa-angle-right{:style => "display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
    %li{:style => "padding: 0 10px 0 0; float: left;"}
      %a{:href => "#", :style =>"text-decoration: none; color: #333;"} ベビー服(男女兼用)  ~95cm
    %li{:style => "padding: 0 10px 0 0; float: left;"}
      %i.fa.fa-angle-right{:style => "display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
    %li{:style => "padding: 0 10px 0 0; float: left;"}
      %a{:href => "#", :style =>"text-decoration: none; color: #333;"} アウター
    %li{:style => "padding: 0 10px 0 0; float: left;"}
      %i.fa.fa-angle-right{:style => "display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
    %li{:style =>"font-weight: bold; padding: 0 10px 0 0; float: left;"}
      %div product3
.main
  .showmain
    .contentleftqq
    .contentright
      .topcontent
        .itembox
          %div.itembox__name product3
          .itembox__body
            %div
              %div
                %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", :style => "height: 346px; width: 100%; object-fit: cover;"}/
                %div{:style => "display: flex; justify-content: center; margin-top: 10px;"}
                  %div
                    %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", :style => "height: 87px; width: 140px; object-fit: cover; margin-right: 5px;"}/
                  %div
                    %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png", :style => "height: 87px; width: 140px; object-fit: cover; margin-right: 5px; margin-left: 5px;"}/
                  %div
                    %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png", :style => "height: 87px; width: 140px; object-fit: cover; margin-left: 5px;"}/
          .itembox__price
            .itembox__price-price
              ¥30000
            .itembox__price-detail
              %span
                (税込)
              %span
                送料込み
          .itemdetail 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
          .table
            %table{:border => "1"}
              %tbody
                %tr
                  %th 出品者
                  %td hoge
                %tr
                  %th カテゴリー
                  %td
                    %a{:href => "#"} ベビー・キッズ
                    %br/
                    %a{:href => "#"} ベビー服(男女兼用)  ~95cm
                    %br/
                    %a{:href => "#"} アウター
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td 未使用に近い
                %tr
                  %th 配送料の負担
                  %td 送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    %a{:href => "#"} 岩手県
                %tr
                  %th 発送日の目安
                  %td 4-7日で発送
          .optionalarea
            %div{:style => "margin: 10px 0 0;display: flex;"}
              %div#likeBtn.optionalbtn.likebtn{:style => "margin-right: auto;padding: 6px 10px;border-radius: 40px;color: #3ccace;border: 1px solid #ffb340;"}
                %i.fa.fa-star{:style => "display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;color: #3ccace;"}
                お気に入り 0
            %div.optional
            %li.optionalbtn{style: "margin-top: 5px;"}
              %a{:href => "#", :style => "padding: 6px 10px; margin-top: 10px; display: inline-block; border-radius: 4px; color: #333; border: 1px solid #333; text-decoration: none; font-size: normal;"}
                %i.fa.fa-flag{:style => "display: inline-block;font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased;"}
                  不適切な商品の通報
        .commentbox
          %div.commentcontents
          %form#new_comment.new_comment{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "/bKlXFzmZnYWuZdstnJ62bomGGRwX6OVc98x97W8mM3TK823CvzZol/dkwQe+jBZzFT0yaldaDumUkevxjczrg=="}/
            %textarea#comment_body{:name => "comment[body]", :required => "required", :style => "width: 95%; min-height: 100px; padding: 10px;"}
              :preserve
            %p.noticemsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.commentbtn{:name => "button", :type => "submit"}
              %i.fa-comment
              コメントする
      %div.links
        %div.links__a
          %a{:href => "#", :style => "text-decoration: none; color: #3ccace;"}
            %i.fa.fa-angle-left
            %span
            前の商品
        %div.links__b
          %a{:href => "#", :style => "text-decoration: none; color: #3ccace;"}
            %span 後ろの商品
            %i.fa.fa-angle-right
      .relateditems
        %a{:href => "#",:style => "display: block; margin: 70px 0 40px; color: #3CCACE; text-decoration: none; font-weight: bold; font-size: 22px; position: relative;"} ベビー・キッズをもっと見る
        .productlists
          .productlist
            %a{:href => "/products/8", :style => "text-decoration: none;"}
              %figure.productlist--img{:style => "width: 220px; height: 150px; position: relative; overflow: hidden; margin: 0; z-index: auto;"}
                %img{:src => "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG", :style => "width: 220px; height: 150px; object-fit: cover;"}/
              .productlist--body
                %div.name ee
                .details
                  %div{:style => "display: flex; align-items: center; justify-content: space-between; list-style: none;font-size: 14px;"}
                    %li{:style => "font-size: 15px;"}1000円
                    %li{:style => "font-size: 15px;"}
                      %i.fa.fa-star.likeIcon
                      0
                  %div{:style => "font-size: 10px;"} (税込)
  %aside.Banner
    .inner
      %h2.inner__title
        だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text 今すぐ無料ダウンロード！
      .inner__icon
        = link_to "#",class: 'apple-Btn' do
          = image_tag "app-store-icon.svg"
        = link_to "#",class: 'google-Btn' do
          = image_tag "google-play-icon.svg"
.footer
  %ul.contents
    %li.content
      %h2.content__head FURIMAについて
      %ul{style: "list-style: none; padding-right: 40px;"}
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            会社概要（運営会社）
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            プライバシーポリシー
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            FURIMA利用規約
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            ポイントに関する特約
    %li.content
      %h2.content__head FURIMAを見る
      %ul{style: "list-style: none; padding-right: 40px;"}
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            カテゴリー一覧
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            ブランド一覧
    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul{style: "list-style: none; padding-right: 40px;"}
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          %a{:href => "#"} FURIMAガイド
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li{style: "color: #fff; text-decoration: none; font-size: 12px; line-height: 32px;"}
          =link_to "#" do
            お知らせ
  .footer__logo
    =link_to "/" do
      = image_tag "FURIMA-logo-white.svg", style: "width: 100%; vertical-align: bottom;"
  %p{style: "font-size: 14px;margin: 0;padding: 0;"} © FURIMA
=link_to "#" do
  .purchase-Btn
    %span.purchase-Btn__text 出品する
    .purchase-Btn__icon
    = image_tag "camera.svg"
