%header.single-header
  %h1
    = link_to image_tag("logo.svg"), root_path
  - if params[:controller]=="users/registrations"&&params[:action]=="create_address"
    %nav.regiNavi
      %ul
        %li 会員情報
        %li 送付先情報
        %li.active 完了

.regiComplete
  .regiComplete__message ユーザー登録が完了いたしました
  .regiComplete__note= "#{@user[:nickname]}さんのマイページよりご登録情報の編集やカードのご登録が可能です"
  = link_to "トップへ戻る", root_path

%footer.single-footer
  %nav
    %ul
      %li
        %a{href:"/"} プライバシーポリシー
      %li
        %a{href:"/"} メルカリ利用規約
      %li
        %a{href:"/"} 特定商取引に関する表記
  = link_to image_tag("logo-white.svg"),root_path
  %p
    %small © FURIMA
