%body
  %header.single-header
    %h1
      = link_to image_tag("logo.svg"), root_path
    - if params[:controller]=="users/registrations"&&params[:action]=="new"
      %nav.regiNavi
        %ul
          %li.active 会員情報
          %li 発送先住所
          %li 完了
  .registration
    %main
      %section
        %h2.registrationHeader 会員情報入力
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .registrationContent
            .formGroup
              = f.label :nickname,"ニックネーム"
              %span.formGroup-require 必須
              = f.text_field :nickname, placeholder:"例) DIV太郎", class:"inputDefault"
            .formGroup
              = f.label :email,"メールアドレス"
              %span.formGroup-require 必須
              - if @user.errors.messages[:email][0]
                = f.email_field :email, autocomplete: "email",placeholder:"PC・携帯どちらでも可", class:"inputDefault errBorder"
                .errMessage.errHeight= "このメールアドレス#{@user.errors.messages[:email][0]}"
              - else
                = f.email_field :email, autocomplete: "email",placeholder:"PC・携帯どちらでも可", class:"inputDefault"
            .formGroup
              = f.label :password,"パスワード"
              %span.formGroup-require 必須
              = f.password_field :password, autocomplete: "new-password",placeholder:"7文字以上の半角英数字", class:"inputDefault"
              %p.formGroupInfo ※ 英字と数字の両方を含めて設定してください
              %input#reveal_password{:type => "checkbox"}/
              %label.formGroupInfo{:for => "reveal_password"} パスワードを表示する
              .revealedPassword{:style => "display: none;"}
            .formGroup
              = f.label :password_confirmation,"パスワード：確認用"
              %span.formGroup-require 必須
              = f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"7文字以上の半角英数字", class:"inputDefault"
            .formGroup
              %h3 本人確認
              %p.formGroupInfo 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .formGroup.half
              %div
                = f.label "お名前(全角)"
                %span.formGroup-require 必須
              - if @user.errors.messages[:family_name_kanji][0] && @user.errors.messages[:first_name_kanji][0]
                = f.text_field :family_name_kanji, placeholder:"例) 碇矢", class:"inputDefault errBorder"
                = f.text_field :first_name_kanji, placeholder:"例) 長介", class:"inputDefault errBorder"
                .errMessage.errHeight= "姓 #{@user.errors.messages[:family_name_kanji][0]}"
                .errMessage.errHeight= "名 #{@user.errors.messages[:first_name_kanji][0]}"
              - elsif @user.errors.messages[:family_name_kanji][0]
                = f.text_field :family_name_kanji, placeholder:"例) 碇矢", class:"inputDefault errBorder"
                = f.text_field :first_name_kanji, placeholder:"例) 長介", class:"inputDefault"
                .errMessage.errHeight= "姓 #{@user.errors.messages[:family_name_kanji][0]}"
              - elsif @user.errors.messages[:first_name_kanji][0]
                = f.text_field :family_name_kanji, placeholder:"例) 碇矢", class:"inputDefault"
                = f.text_field :first_name_kanji, placeholder:"例) 長介", class:"inputDefault errBorder"
                .errMessage.errHeight= "名 #{@user.errors.messages[:first_name_kanji][0]}"
              - else
                = f.text_field :family_name_kanji, placeholder:"例) 碇矢", class:"inputDefault"
                = f.text_field :first_name_kanji, placeholder:"例) 長介", class:"inputDefault"
            .formGroup.half
              %div
                = f.label "お名前カナ(全角)"
                %span.formGroup-require 必須
              - if @user.errors.messages[:family_name_kana][0] && @user.errors.messages[:first_name_kana][0]
                = f.text_field :family_name_kana, placeholder:"例) イカリヤ", class:"inputDefault errBorder"
                = f.text_field :first_name_kana, placeholder:"例) チョウスケ", class:"inputDefault errBorder"
                .errMessage.errHeight= "姓カナ #{@user.errors.messages[:family_name_kana][0]}"
                .errMessage.errHeight= "名カナ #{@user.errors.messages[:first_name_kana][0]}"
              - elsif @user.errors.messages[:family_name_kana][0]
                = f.text_field :family_name_kana, placeholder:"例) イカリヤ", class:"inputDefault errBorder"
                = f.text_field :first_name_kana, placeholder:"例) チョウスケ", class:"inputDefault"
                .errMessage.errHeight= "姓カナ #{@user.errors.messages[:family_name_kana][0]}"
              - elsif @user.errors.messages[:first_name_kana][0]
                = f.text_field :family_name_kana, placeholder:"例) イカリヤ", class:"inputDefault"
                = f.text_field :first_name_kana, placeholder:"例) チョウスケ", class:"inputDefault errBorder"
                .errMessage.errHeight= "名カナ #{@user.errors.messages[:first_name_kana][0]}"
              - else
                = f.text_field :family_name_kana, placeholder:"例) イカリヤ", class:"inputDefault"
                = f.text_field :first_name_kana, placeholder:"例) チョウスケ", class:"inputDefault"
            .formGroup.birthday
              %div
                %label{:for => "birthday"} 生年月日
                %span.formGroup-require 必須
              %span
                %select#year.selectDefault{:name => "user[birth_year]"}
              %span
                %select#month.selectDefault{:name => "user[birth_month]"}
              %span
                %select#day.selectDefault{:name => "user[birth_day]"}
              %input#birthday{:type => "hidden"}/
            %p.formGroupInfo ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .submit
              = f.submit "次へ進む"
  %footer.single-footer
    %nav
      %ul
        %li
          %a{:href => "/"} プライバシーポリシー
        %li
          %a{:href => "/"} メルカリ利用規約
        %li
          %a{:href => "/"} 特定商取引に関する表記
    = link_to image_tag("logo-white.svg"),root_path
    %p
      %small © FURIMA
