<header class="single-header">
  <h1>
    <%= link_to image_tag("logo.svg"), root_path %>
  </h1>
  <% if params[:controller]=="users/registrations"&&params[:action]=="new"%>
  <nav class="regiNavi">
    <ul>
      <% if params[:action]=="new"%>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        会員情報
      </li>
      <li>発送先住所</li>
      <li>完了</li>
    </ul>
  </nav>
  <% end %>
</header>

<div class="registration">
  <main>
    <section>
      <h2 class="registrationHeader">会員情報入力</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="registrationContent">

          <div class="formGroup">
            <%= f.label :nickname,"ニックネーム" %>
            <span class="formGroup-require">必須</span>
            <%= f.text_field :nickname, placeholder:"例) DIV太郎", class:"inputDefault" %>
          </div>

          <div class="formGroup">
            <%= f.label :email,"メールアドレス" %>
            <span class="formGroup-require">必須</span>
            <% if @user.errors.messages[:email][0] %>
              <%= f.email_field :email, autocomplete: "email",placeholder:"PC・携帯どちらでも可", class:"inputDefault errBorder" %>
              <div class="errMessage errHeight"><%= "このメールアドレス#{@user.errors.messages[:email][0]}" %></div>
            <% else %>
              <%= f.email_field :email, autocomplete: "email",placeholder:"PC・携帯どちらでも可", class:"inputDefault" %>
            <% end %>
          </div>

          <div class="formGroup">
            <%= f.label :password,"パスワード" %>
            <span class="formGroup-require">必須</span>
            <%= f.password_field :password, autocomplete: "new-password",placeholder:"7文字以上の半角英数字", class:"inputDefault" %>
            <p class="formGroupInfo">※ 英字と数字の両方を含めて設定してください</p>
            <input type="checkbox" id="reveal_password">
            <label for="reveal_password" class="formGroupInfo">パスワードを表示する</label>
            <div class="revealedPassword" style="display: none;"></div>
          </div>

          <div class="formGroup">
            <%= f.label :password_confirmation,"パスワード：確認用" %>
            <span class="formGroup-require">必須</span>
            <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"7文字以上の半角英数字", class:"inputDefault" %>
          </div>

          <div class="formGroup">
            <h3>本人確認</h3>
            <p class="formGroupInfo">安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。</p>
          </div>

          <div class="formGroup half">
            <div>
              <%= f.label "お名前(全角)" %>
              <span class="formGroup-require">必須</span>
            </div>
            <% if @user.errors.messages[:family_name_kanji][0] && @user.errors.messages[:first_name_kanji][0] %>
              <%= f.text_field :family_name_kanji, placeholder:"例) 碇矢", class:"inputDefault errBorder" %>
              <%= f.text_field :first_name_kanji, placeholder:"例) 長介", class:"inputDefault errBorder" %>
              <div class="errMessage errHeight"><%= "姓 #{@user.errors.messages[:family_name_kanji][0]}" %></div>
              <div class="errMessage errHeight"><%= "名 #{@user.errors.messages[:first_name_kanji][0]}" %></div>
            <% elsif @user.errors.messages[:family_name_kanji][0] %>
              <%= f.text_field :family_name_kanji, placeholder:"例) 碇矢", class:"inputDefault errBorder" %>
              <%= f.text_field :first_name_kanji, placeholder:"例) 長介", class:"inputDefault" %>
              <div class="errMessage errHeight"><%= "姓 #{@user.errors.messages[:family_name_kanji][0]}" %></div>
            <% elsif @user.errors.messages[:first_name_kanji][0] %>
              <%= f.text_field :family_name_kanji, placeholder:"例) 碇矢", class:"inputDefault" %>
              <%= f.text_field :first_name_kanji, placeholder:"例) 長介", class:"inputDefault errBorder" %>
              <div class="errMessage errHeight"><%= "名 #{@user.errors.messages[:first_name_kanji][0]}" %></div>
            <% else %>
              <%= f.text_field :family_name_kanji, placeholder:"例) 碇矢", class:"inputDefault" %>
              <%= f.text_field :first_name_kanji, placeholder:"例) 長介", class:"inputDefault" %>
            <% end %>
          </div>

          <div class="formGroup half">
            <div>
              <%= f.label "お名前カナ(全角)" %>
              <span class="formGroup-require">必須</span>
            </div>
            <% if @user.errors.messages[:family_name_kana][0] && @user.errors.messages[:first_name_kana][0] %>
              <%= f.text_field :family_name_kana, placeholder:"例) いかりや", class:"inputDefault errBorder" %>
              <%= f.text_field :first_name_kana, placeholder:"例) ちょうすけ", class:"inputDefault errBorder" %>
              <div class="errMessage errHeight"><%= "姓カナ #{@user.errors.messages[:family_name_kana][0]}" %></div>
              <div class="errMessage errHeight"><%= "名カナ #{@user.errors.messages[:first_name_kana][0]}" %></div>
            <% elsif @user.errors.messages[:family_name_kana][0] %>
              <%= f.text_field :family_name_kana, placeholder:"例) いかりや", class:"inputDefault errBorder" %>
              <%= f.text_field :first_name_kana, placeholder:"例) ちょうすけ", class:"inputDefault" %>
              <div class="errMessage errHeight"><%= "姓カナ #{@user.errors.messages[:family_name_kana][0]}" %></div>
            <% elsif @user.errors.messages[:first_name_kana][0] %>
              <%= f.text_field :family_name_kana, placeholder:"例) いかりや", class:"inputDefault" %>
              <%= f.text_field :first_name_kana, placeholder:"例) ちょうすけ", class:"inputDefault errBorder" %>
              <div class="errMessage errHeight"><%= "名カナ #{@user.errors.messages[:first_name_kana][0]}" %></div>
            <% else %>
            <%= f.text_field :family_name_kana, placeholder:"例) いかりや", class:"inputDefault" %>
            <%= f.text_field :first_name_kana, placeholder:"例) ちょうすけ", class:"inputDefault" %>
            <% end %>
          </div>

          <div class="formGroup birthday">
            <div>
              <label for="birthday">生年月日</label>
              <span class="formGroup-require">必須</span>
            </div>
            <span>
              <select name="user[birth_year]" id="year" class="selectDefault"></select>
            </span>
            <span>
              <select name="user[birth_month]" id="month" class="selectDefault"></select>
            </span>
            <span>
              <select name="user[birth_day]" id="day" class="selectDefault"></select>
            </span>
            <input type="hidden" id="birthday">
          </div>

          <p class="formGroupInfo">※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。</p>

          <div class="submit">
            <%= f.submit "次へ進む" %>
          </div>

        </div>
      <% end %>
    </section>
  </main>
</div>

<footer class="single-footer">
  <nav>
    <ul>
      <li>
        <a href="/">プライバシーポリシー</a>
      </li>
      <li>
        <a href="/">メルカリ利用規約</a>
      </li>
      <li>
          <a href="/">特定商取引に関する表記</a>
      </li>
    </ul>
  </nav>
  <%= link_to image_tag("logo-white.svg"),root_path  %>
  <p>
    <small>&copy; FURIMA</small>
  </p>
</footer>